<footer>
	<div class="container">
		<div class="footer-content">
			<div class="footer-info">
				<h3>Contactez-nous</h3>
				<p>Nous serions ravis de vous aider. Envoyez-nous un message !</p>
			</div>

			<div class="footer-form">
				<form action="/contact" method="POST">
					<div class="form-group">
						<input type="text" id="nom" name="nom" placeholder="Nom" required>
					</div>
					<div class="form-group">
						<input type="text" id="prenom" name="prenom" placeholder="Prénom" required>
					</div>

					<div class="form-group">
						<input type="email" id="email" name="email" placeholder="Email" required>
					</div>

					 <!-- Champ Message : longueur entre 10 et 1000 caractères -->
                    <div class="form-group">
                        <textarea id="message" name="message" rows="4" required  placeholder="Tapez votre message"
                                  minlength="10" maxlength="1000" 
                                  title="Le message doit contenir entre 10 et 1000 caractères."></textarea>
                    </div>

					<button type="submit" class="btn-submit">Envoyer</button>
				</form>
			</div>
		</div>

		<div class="footer-bottom">
			<p>&copy; 2024 MyEvents. Tous droits réservés.</p>
		</div>
	</div>
</footer>
