<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"> 
		
  {# <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  /> #}
</head>
		{% block style %}
		
		{% endblock %}
		{% block title %}{% endblock %}
		</head>
		<body>
			{% include "../partials/header.twig" %}
			{% block main %}{% endblock %}
			{% include "../partials/footer.twig" %}
			{% block script %}
			{% endblock %}
		</body>
	</html>
