* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

h3,
strong {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.underline {
    text-decoration: underline;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.italianno-regular {
    font-family: "Italianno", serif;
    font-weight: 400;
    font-style: normal;
}


.firstFont {
    font-family: "Italianno", serif;
    font-size: 30px;
}

.league-script-regular {
    font-family: "League Script", serif;
    font-weight: 400;
    font-style: normal;
}

.secondFont {
    font-family: "League Script", serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;

}


body {
    background-color: #e5dccf;
    color: black;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

}

header a:hover {
    text-decoration: underline;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.flexContainer a:hover {
    text-decoration: underline;
}

.logo {
    width: 80px;
}

.proBtn {
    padding: 10px 40px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ffd90051;

}

.logoMessagerie,
.logout {
    width: 20px;
}

.logoMessagerie:hover,
.logout:hover {
    width: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 30px;
}

.mainSection {
    width: 80%;
    margin: auto;
}

h3 {
    font-size: 1.5em;
    text-align: start;
    margin-bottom: 10px;
    margin-left: 45px;
    margin-top: 100px;
}

.formEvenement {
    width: 100%;
    height: 150px;
    border: 1px solid #ffd90051;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 10px;
}



.formEvenement select {
    text-align: center;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #f5f3ef7d;
    border: 1px solid #ffd90051;
    margin-right: 20px;

}

.formEvenement input {
    text-align: center;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #f5f3ef7d;
    border: 1px solid #ffd90051;
    margin-right: 20px;
}

button {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #f5f3ef;
    border: 1px solid #ffd90051;
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #e9e4da7d;
}


.iconeContainer img {
    width: 88px;
    height: 95px;
}

.iconeContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.iconeContainer div {

    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Ajouter cette ligne */
    gap: 10px;
    text-align: center;
    width: 180px;
    /* Ajouter cette ligne, même largeur que l'image */
}

.iconeContainer p {
    width: 100%;
    margin: 0;
}

.textContainer {
    width: 100%;
    height: 500px;
    background-color: #f5f3ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid #ffd90051;
    border-radius: 50px;
    margin-bottom: 150px;

}

.textContainer p {
    text-align: center;
    font-size: 20px;
    margin: 50px auto;
    width: 80%;
}

.textContainer img {
    width: 80px;
}

.textContainer div {
    display: flex;
    justify-content: start;
    align-items: center;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info {
    flex: 1;
    margin-right: 40px;
}

.footer-info h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.footer-info p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.footer-form {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.btn-submit {
    background-color: #f5f3ef;
    border: 1px solid #ffd90051;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-submit:hover,
.proBtn:hover,
button:hover {
    background-color: #ebe8e1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
}

.footer-bottom p {
    font-size: 0.9rem;
    color: #bbb;
}



/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Page qui sommes nous  */

.biggerTextContainer {
    width: 80%;
    height: auto;
    background-color: #f5f3ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid #ffd90051;
    border-radius: 50px;
    margin-bottom: 25px;
    padding: 20px 0;
}

.iconeAndText {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.iconeAndText img {
    width: 80px;
    margin-right: 50px;
}

.iconeAndText p {
    text-align: center;
    font-size: 20px;
    margin: 0;
    width: 100%;
}

.join {
    text-align: center;
    margin: auto;
    font-size: 25px;
    margin-bottom: 100px;
    width: 80%;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Page Sign In  */

.formSignIn {
    font-size: 20px;
    max-width: 65%;
    border: 1px solid #ffd90051;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 200px;
    padding: 20px;
}

.formSignIn form {
    width: 75%;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.formSignIn label {
    text-align: center;
    margin-bottom: 10px;
}

.formSignIn input {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f3ef7d;
    border: 1px solid #ffd90051;
}

.formSignIn textarea {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f3ef7d;
    border: 1px solid #ffd90051;
}

.formSignIn select {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f3ef7d;
    border: 1px solid #ffd90051;
}

.formSignIn button {
    text-align: center;
    margin: auto;
}

.formSignIn a {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.formSignIn a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.updateForm {
    display: none;
    padding-top: 15px;
    margin-top: 10px;

}




/* --------------------------------------------------- MAIN PAGE AVEC AFFICHAGE DES EVENTS ------------------------------------------ */

.btn-ajouter {
    text-align: center;
    margin: 25px auto;
    display: block;
    width: fit-content;
    /* Ajuste la largeur selon le texte */
    padding: 10px 20px;
    background-color: #f5f3ef;
    text-decoration: none;
    border-radius: 20px;
}





.evenementContainer {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: #f5f3ef;
    margin: auto;
    border: 1px solid #ffd90051;
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 20px 0;
    text-align: start;


}

.evenementContainer h4 {
    text-align: center;
    margin-bottom: 20px;
}

.evenementContainer p,
.evenementContainer .link {
    text-align: start;
    padding-left: 50px;
    margin-bottom: 10px;

}

.devisContainer {
    text-align: start;
    margin: 0;
    background-color: white;
    width: 30%;
    padding: 10px 0;
    border: 1px solid #ffd90051;
    border-radius: 10px;
}
.devisContainer p {
    margin: 0;
    padding: 8px;
}

.notValidate{
    color: rgb(249, 35, 35);
    font-weight: bold;
}

.validate{
    color: rgb(32, 129, 255);
    font-weight: bold;
}
.allDevisContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}
.btnContainer {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btnContainer .delete {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    color: red;
    border: 1px solid #ffd90051;
}

.btnContainer .delete:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease;
}

.btn {
    margin-top: 50px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #e5dccf;
    border: 1px solid #e5dccf;
    text-align: center;
}

.btn:hover,
.btn-ajouter:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease;
}

.hide {
    display: none;
    position: relative;
}

.add {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.add:hover {
    text-decoration: underline;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 15px;
}

.add:hover,
.close:hover {
    cursor: pointer;
}

.updateForm .form-group {
    width: 80%;
    text-align: center;
    margin: auto;
}




/* ---------------------------------------- PAGE INVITE ----------------------------------------------------------------------- */
.InviteH3 {
    font-weight: 100;
}

.addInviteForm {
    width: 100%;
    height: 200px;
    border: 1px solid #ffd90051;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 10px;

}

.addInviteForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.addInviteForm input {
    text-align: center;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #f5f3ef7d;
    border: 1px solid #ffd90051;


}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.inputRow {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
    margin: auto;

}

.selectEventDiv {
    width: 45%;
}

.eventSelect {
    width: 100%;
    padding: 5px 35px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ffd90051;
    margin: auto;

}

.buttonContainer {
    margin-top: 15px;
    text-align: center;
}


.inviteContainer {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 90%;
    margin: auto;
    margin-bottom: 20px;

}

.inviteContainer p {
    margin: 0;
    padding: 0;
}

.evenementSelect {
    width: 70%;
    padding: 15px 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ffd90051;
    margin: auto;
}

.selectEventForm {
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;


}

.selectEventForm h3 {
    font-size: 1em;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;

}

/* Conteneur principal de l'événement */
.evenementInvite {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: #f5f3ef;
    margin: auto;
    border: 1px solid #ffd90051;
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 20px 0;
    text-align: start;
}

.evenementInvite h4 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;

}

/* Conteneur de la liste des invités */
.invites {
    text-align: center;

    max-height: 250px;
    /* Limite la hauteur de la liste */
    overflow-y: auto;
    /* Active le scroll vertical */
    margin: 5px 20px;
    /* Espacement intérieur */
}

/* Formulaire d'envoi d'email */
.sendEmailForm,
.selectInviteForm {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* Aligne le formulaire en colonne */
    padding-top: 10px;
}

.sendEmailForm label,
.selectInviteForm label {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

.sendEmailForm textarea {
    width: 100%;
    height: 150px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.sendEmailForm button,
.selectInviteForm button {
    margin-top: 10px;
    width: 15%;
    background-color: white;
    margin: auto;

}

.sendEmailForm p,
.selectInviteForm p {
    font-size: 10px;
    margin-bottom: 10px;
}


.updateInvite {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% auto;
}

.updateInvite input {
    text-align: center;
    background-color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #ffd90051;
    margin-right: 1em;

}

.updateInvite .btn {
    background-color: white;
    color: red;
}



.updateInvite button {
    background-color: white;
}

.message {
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}




/* ------------------------------------------- PAGE PROFIL ----------------------------------------------------- */




/* bouton supprimer profil */
.form-group .delete {
    background-color: white;
    color: red;
}

.form-group .delete:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease;
    text-decoration: none;
}


.confirmDelete {
    text-align: center;
}

.confirmDelete p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}

.confirmDelete form p {
    font-size: 10px;
    margin-bottom: 5px;
    font-weight: lighter;

}

.confirmDelete .btn:hover {
    text-decoration: none;
}

.confirmDelete .delete {
    background-color: white;
    color: red;
    font-weight: bold;
}

.confirmDelete .delete:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease;
}










/* ------------------------------------------- PAGE Prestation ----------------------------------------------------- */

.prestationContainer {
    position: relative;
    width: 40%;
    min-height: 250px;
    background-color: white;
    margin: auto;
    border: 1px solid #ffd90051;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 25px 0;
    text-align: start;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: auto;

}

.prestationContainer h4 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.prestationContainer p,
.prestationContainer .link {
    text-align: start;
    padding: 10px 25px;
    margin-bottom: 50px;

}

.AllPrestationsContainer {
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow: auto;
}

.AllPrestationsContainer .btnContainer {
    top: 85%
}

.AllPrestationsContainer .close {

    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 12px;


}

.AllPrestationsContainer label,
.AllPrestationsContainer input {
    margin: 5px auto;
    background-color: #f5f3ef7d;
}

.prestationDescription {
    overflow: auto;
}


#map {
    margin: auto;
    height: 500px;
    max-height: 500px;
    width: 80%;
    max-width: 100%;
    border: 1px solid #e5dccf;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 100px;

}






/* ------------------------------------------- PAGE Devis ----------------------------------------------------- */


.selectEventDevis {
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.prestationDevis .AllPrestationsContainer {
    height: 450px;
}

.prestationDevis .prestationContainer {
    min-height: 150px;
}

.prestationContainer:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.total {
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}