* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

h3,
strong {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.underline {
    text-decoration: underline;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.italianno-regular {
    font-family: "Italianno", serif;
    font-weight: 400;
    font-style: normal;
}


.firstFont {
    font-family: "Italianno", serif;
    font-size: 30px;
}

.league-script-regular {
    font-family: "League Script", serif;
    font-weight: 400;
    font-style: normal;
}

.secondFont {
    font-family: "League Script", serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;

}


body {
    background-color: #e5dccf;
    color: black;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(500px);
    padding: 10px 10%;
    margin-bottom: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: rgba(255, 255, 255, 0.545) 0px 25px 50px -12px;

}

.header-entreprise-burger,
.header-particulier-burger,
.header-visiteur-burger {
    display: none;
}


header a:hover {
    text-decoration: underline;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.iconeAndText {
    padding: 20px;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.flexContainer a:hover {
    text-decoration: underline;
}

.logo {
    width: 80px;
}

.proBtn {
    padding: 10px 40px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #ffd90051;

}

.proBtn:hover {
    text-decoration: none;
}

.flexContainer .proBtn:hover {
    text-decoration: none;
}

.logoMessagerie,
.logout {
    width: 20px;
}

.logoMessagerie:hover,
.logout:hover {
    width: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 50px;
}

.mainSection {
    width: 80%;
    margin: auto;
}

h3 {
    font-size: 1.5em;
    text-align: start;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 80px;
}

/*Contenair formulaire de recherche de prestation*/
.form-evenement,
.formEvenement {
    border: 4px solid #ffd90051;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    margin-bottom: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*Formulaire de recherche de prestation page main*/
.form-evenement__form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 35px;
    gap: 30px;
}

.form-evenement__select,
.form-evenement__input {
    text-align: start;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #f5f3ef7d;
    border: 2px solid #ffd90051;
    width: 30%;
    margin-bottom: 10px;
    color: black;

}


.form-evenement__button {
    width: 20%;
    font-weight: 450;
    background-color: #f5f3ef7d;
    border: 3px solid #ffd90051;
    color: black;
}

.form-button {
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
}


/*Formulaire de recherche de prestation page UtilisateurDashboard*/

.formEvenement form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 35px;
    gap: 30px;
}

.formEvenement form button {
    padding: 5px 15px;
    margin: 0;
    text-align: center;
    color: black;
}

.formEvenement select,
.formEvenement input {
    text-align: start;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #f5f3ef7d;
    border: 2px solid #ffd90051;
    width: 30%;
    color: black;
}


button {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 420;
    background-color: #f5f3ef7d;
    border: 3px solid #ffd90051;
    color: black;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.785);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.iconeContainer img {
    width: 88px;
    height: 95px;
}

.iconeContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.iconeContainer div {

    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 180px;
}

.iconeContainer p {
    width: 100%;
    margin: 0;
}

.textContainer {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 4px solid #ffd90051;
    border-radius: 10px;
    margin-bottom: 70px;
    box-shadow: rgb(255, 255, 255) 0px 22px 70px 4px;


}

.textContainer p {
    text-align: center;
    font-size: 20px;
    margin: 30px auto;
    width: 80%;
}

.textContainer img {
    width: 80px;
}

.textContainer div {
    display: flex;
    justify-content: start;
    align-items: center;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info {
    flex: 1;
    margin-right: 40px;
}

.footer-info h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.footer-info p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.footer-form {
    flex: 1;
}


.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.btn-submit {
    background-color: #f5f3ef7d;
    border: 3px solid #ffd90051;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-submit:hover,
.proBtn:hover,
button:hover {
    background-color: #ebe8e1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
}

.footer-bottom p {
    font-size: 0.9rem;
    color: #bbb;
}



/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Page qui sommes nous  */

.biggerTextContainer {
    width: 80%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 4px solid #ffd90051;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 20px 0;
}

.iconeAndText {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.iconeAndText img {
    width: 80px;
    margin-right: 50px;
}

.iconeAndText p {
    text-align: center;
    font-size: 20px;
    margin: 0;
    width: 100%;
}

.join {
    text-align: center;
    margin: auto;
    font-size: 25px;
    margin-bottom: 100px;
    width: 80%;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Page Sign In  */

.formSignIn {
    font-size: 18px;
    width: 60%;
    /* border: 4px solid #ffd90051; */
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.formSignIn .link {
    font-size: 18px;
}

.formSignIn form {
    width: 75%;
    padding: 20px 0;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.formSignIn label {
    text-align: center;
    margin-bottom: 10px;
}

.formSignIn input {
    width: 100%;
    text-align: start;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f3ef7d;
    border: 2px solid #ffd90051;
    margin-bottom: 15px;
}

.formSignIn textarea {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f3ef7d;
    border: 2px solid #ffd90051;
}

.formSignIn select {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f3ef7d;
    border: 2px solid #ffd90051;
    color: black;
}

.formSignIn button {
    text-align: center;
    margin: auto;
    color: black;
}

.formSignIn a {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.formSignIn a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    font-weight: bold;
}

.updateForm {
    display: none;
    padding-top: 15px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.updateForm input,
.updateForm select,
.updateForm textarea,
.typeEvenement {
    background-color: #f5f3ef7d;
    width: 90%;
    border: 1px solid #e0d7c4;
}

.typeEvenement {
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;

}


/* --------------------------------------------------- MAIN PAGE AVEC AFFICHAGE DES EVENTS ------------------------------------------ */
.lien:hover{
text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.btn-ajouter {
    text-align: center;
    margin: 25px auto;
    display: block;
    width: fit-content;
    /* Ajuste la largeur selon le texte */
    padding: 10px 20px;
    background-color: #f5f3ef;
    text-decoration: none;
    border-radius: 20px;
}





.evenementContainer {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: white;
    margin: auto;
    border: 4px solid #ffd90051;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px 0;
    text-align: start;
    box-shadow: rgb(255, 255, 255) 0px 22px 70px 4px;


}

.evenementContainer h3 {
    text-align: center;
    margin: 25px 0;
}


.evenementContainer h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.evenementContainer p {
    text-align: start;
    padding-left: 50px;
    margin-bottom: 10px;

}

.evenementContainerParticulier .devisContainer {
    height: 400px;

}

.devisContainer {
    box-shadow: rgb(255, 255, 255) 0px 22px 70px 4px;
    text-align: start;
    margin: 0;
    background-color: #f5f3ef;
    width: 45%;
    height: 450px;
    overflow: auto;
    flex-wrap: wrap;
    padding: 15px 0;
    border: 3px solid #ffd90051;
    border-radius: 10px;
}

.devisContainer p {
    margin: 0;
    padding: 8px;
}

.notValidate {
    color: rgb(249, 35, 35);
    font-weight: bold;
}

.validate {
    color: rgb(8, 157, 8);
    font-weight: bold;
}

.allDevisContainer {
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
    margin: auto;
}

.btnContainer {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 88%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btnContainer .delete {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f5f3ef7d;
    ;
    color: red;
    border: 2px solid rgb(249, 35, 35);
}

.btnContainer .update {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #ffd90051;
    margin: 0;
    text-align: center;
    background-color: #f5f3ef7d;
}




.btnContainer .delete:hover,
.btnContainer .update:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease;
    background-color: white;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f5f3ef7d;
    ;
    border: 3px solid #e5dccf;
    text-align: center;
}

.btn:hover,
.btn-ajouter:hover,
.btnValidate:hover,
.btnDecline:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease;
    border: 3px solid #e5dccf;
}

.hide {
    display: none;
    position: relative;
}

.add {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.add:hover {
    text-decoration: underline;
    cursor: pointer;
}

.close {
    font-size: 15px;
    position: absolute;
    top: 1%;
    left: 1.5%;
    width: 35px;
}

.close img {
    position: absolute;
    top: 1%;
    left: 1.5%;
    width: 35px;
}

.add:hover,
.close:hover {
    cursor: pointer;
}




.updateForm .form-group {
    width: 80%;
    text-align: center;
    margin: auto;
}

.update {
    margin: 0;
}


/* ---------------------------------------- PAGE INVITE ----------------------------------------------------------------------- */
.InviteH3 {
    margin-bottom: 10px;

}

.addInviteForm {
    width: 100%;
    height: 200px;
    border: 2px solid #ffd90051;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;


}

.addInviteForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;



}

.addInviteForm input {
    text-align: start;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #f5f3ef7d;
    border: 2px solid #ffd90051;
}

.addInviteForm select {
    background-color: #f5f3ef7d;
    color: black;

}

.secondSection a {
    font-weight: bold;
    font-size: 18px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.inputRow {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
    margin: auto;

}



/*Style pour accentué l'effet de prestation selectionnée*/
.prestationContainer.selected {
    background-color: #cac7c7;
    border: 3px solid rgb(60, 142, 249);
}

.selectEventDiv {
    width: 45%;
}

.eventSelect {
    width: 100%;
    padding: 5px 35px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    border: 3px solid #ffd90051;
    margin: auto;

}

.buttonContainer {
    margin-top: 15px;
    text-align: center;
}


.inviteContainer {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 90%;
    margin: auto;
    margin-bottom: 20px;

}




.intro p {
    text-align: center;

}

.secondSection h4,
.secondSection h4 {
    font-size: 18px;
}

.secondSection img {
    width: 20px;
}

.secondSection #retour:hover {
    text-decoration: underline;
}

.inviteContainer p {
    margin: 0;
    padding: 0;
}

.evenementSelect {
    width: 70%;
    padding: 15px 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    border: 3px solid #ffd90051;
    margin: auto;
}

.selectEventForm {
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;


}

.selectEventForm h3 {
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;

}

/* Conteneur principal de l'événement */
.evenementInvite {
    position: relative;
    width: 100%;
    background-color: white;
    margin: auto;
    border: 4px solid #ffd90051;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: start;
}

.evenementInvite h3 {
    font-weight: bold;
    font-size: 15px;
    margin: 0 5px;
    text-align: center;
    margin-bottom: 20px;

}

/* Conteneur de la liste des invités */
.invites {
    text-align: center;

    max-height: 250px;
    /* Limite la hauteur de la liste */
    overflow-y: auto;
    /* Active le scroll vertical */
    margin: 5px 20px;
    /* Espacement intérieur */
}

/*CROIX QUI ENLEVE l'INVITÉ*/
.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==
);
    background-color: white;
    border-radius: 50px;
}

/* Formulaire d'envoi d'email */
.sendEmailForm,
.selectInviteForm {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* Aligne le formulaire en colonne */
    padding-top: 10px;
}

.sendEmailForm label,
.selectInviteForm label {
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}



.sendEmailForm textarea {
    width: 100%;
    height: 150px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.sendEmailForm button,
.selectInviteForm button {
    margin-top: 10px;
    padding: 10px 15px;
    width: 30%%;
    background-color: #f5f3ef;
    margin: auto;

}

.sendEmailForm p,
.selectInviteForm p {
    font-size: 10px;
    margin-bottom: 10px;
}


.updateInvite {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.updateInvite .inputRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateInvite form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.updateInvite input {
    text-align: center;
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #ffd90051;
    background-color: #f5f3ef7d;
}

.updateInvite .delete {
    background-color: white;
    color: red;
    font-weight: bold;

}

.updateInvite button {
    background-color: white;
    border: 2px solid rgb(8, 157, 8)
}


.updateInvite button:hover {
    box-shadow: rgba(0, 0, 0, 0.243) 0px 8px 24px;
    transition: 0.3s ease;
    border: 2px solid rgb(8, 157, 8)
}

.updateInvite .delete:hover {
    text-decoration: underline;
    box-shadow: rgba(0, 0, 0, 0.243) 0px 8px 24px;

}

.message {
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    font-weight: bold;
    color: rgb(8, 157, 8);


}

.notBold {
    font-weight: 100;
}


/* ------------------------------------------- PAGE PROFIL ----------------------------------------------------- */




/* bouton supprimer profil */
.form-group .delete {
    background-color: white;
    color: red;
}

.form-group .delete:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease;
    text-decoration: none;
}

.confirmDecline {
    border-radius: 10px;
}

.confirmDelete {
    text-align: center;
}

.confirmDelete p,
.confirmDecline p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}

.confirmDelete form p,
.confirmDecline form p {
    font-size: 10px;
    margin-bottom: 5px;
    font-weight: lighter;

}

.confirmDelete .btn:hover,
.confirmDecline .btn:hover {
    text-decoration: none;
}

.confirmDelete .delete,
.confirmDecline .delete {
    background-color: white;
    color: red;
    font-weight: bold;
}

.confirmDelete .delete:hover,
.confirmDecline .delete:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease;
}




/* ------------------------------------------- PAGE Prestation ----------------------------------------------------- */

.prestationContainer {
    position: relative;
    width: 40%;
    min-height: 400px;
    background-color: white;
    margin: auto;
    border: 4px solid #ffd90051;
    border-radius: 25px;
    padding: 25px 0;
    text-align: start;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.prestationContainer .updateForm {
    height: fit-content;
}

.saveUpdate {
    background-color: #f5f3ef7d;
    margin-top: 3px;
    color: black;
}

.prestationContainer h4 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.prestationContainer p,
.prestationContainer .link {
    text-align: start;
    padding: 10px 20px;
    margin-bottom: 15px;

}

.AllPrestationsContainer {
    width: 100%;
    margin-bottom: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 100px;
}

.AllPrestationsContainer .btnContainer {
    top: 88%
}

.AllPrestationsContainer .close {

    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 12px;


}

.AllPrestationsContainer label {
    margin: 5px auto;
}

.AllPrestationsContainer input {
    margin: 5px auto;
    background-color: #f5f3ef7d;
}

.prestationDescription {
    overflow: auto;

}

.prestationContainer textarea {
    border: 1px solid rgba(174, 174, 174, 0.83);
}


#map {
    margin: auto;
    height: 550px;
    max-height: 550px;
    width: 100%;
    max-width: 100%;
    border: 4px solid #e5dccf;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    overflow: auto;
    margin-bottom: 100px;
}







/* ------------------------------------------- PAGE Devis ----------------------------------------------------- */


.selectEventDevis {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.prestationDevis .prestationContainer {
    min-height: 250px;
}



.prestationContainer:hover {
    box-shadow: rgba(255, 254, 254, 0.694) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.total {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: center;
}



/* -------------------------------------------------- Dashboard PRO --------------------------------------------------------------------- */
.btnValidate {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: white;
    border: 3px solid #e5dccf;
    text-align: center;
    color: rgb(8, 157, 8);
    font-weight: bold;

}

.btnDecline {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: white;
    border: 3px solid rgb(249, 35, 35);
    text-align: center;
    color: rgb(249, 35, 35);
}

.btnDecline:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dowloadDevis,
.validate a {
    color: rgb(59, 93, 247);

}

.dowloadDevis:hover,
.validate a:hover {
    cursor: pointer;
    text-decoration: underline;
}




/* La modale confirmDecline */
.confirmDecline {
    margin: auto;
    margin-bottom: 150px;

    padding: 20px;
    box-shadow: rgba(255, 255, 255, 0.475) 0px 22px 70px 4px;
}

.confirmDecline form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmDecline form label {
    font-size: 12px;
}

.isDecline {
    color: rgb(249, 35, 35);

}













/* ------------------------------------------------------------    PLANNING   ------------------------------------------------------------ */

#calendar {
    margin-bottom: 100px;
    border: 4px solid #e5dccf;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.fc-timegrid-event .fc-event-time,
.fc-v-event .fc-event-title {
    font-weight: 450;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child){
    z-index: auto;
}


/* ------------------------------------------------------------    MEDIA QUERY   ------------------------------------------------------------ */

/* header */
@media(max-width: 1040px) {

    .nav-link {
        font-weight: bold;
    }


    .header-entreprise-burger,
    .header-particulier-burger,
    .header-visiteur-burger {
        display: flex;
        font-weight: bold;
        padding: 0;

    }

    .header-visiteur,
    .header-particulier,
    .header-entreprise {
        display: none;
    }


}





/* ------------------------------------------------------------    RESPONSIVE PAGE MAIN   ------------------------------------------------------------ */


@media (max-width: 850px) {


    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 1.2em;
        text-align: center;
        margin: 0;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 18px;
    }

    .iconeContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 55px;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    .formEvenement,
    .form-evenement {
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }

    .form-evenement form,
    .formEvenement form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 35px;
        gap: 30px;
    }

    .form-evenement__select,
    .form-evenement__input,
    .formEvenement input,
    .formEvenement select,
    .formSignIn input {
        text-align: start;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #f5f3ef7d;
        border: 2px solid #ffd90051;
        width: 98%;
        margin-bottom: 5px;
    }

    .footer-content {
        flex-direction: column;

    }

    #map {
        width: 95%;
        height: 500px;
    }
}


@media(max-width: 700px) {
    .formSignIn form {
        width: 95%;
        margin: auto;
    }

    h3 {
        text-align: center;
    }

    .mainSection {
        width: 100%;
    }

    .textContainer {
        width: 90%;
        margin: auto;
    }

}


/* ------------------------------------------------------------    RESPONSIVE PAGE QUI SOMMES NOUS / Pour les Pros   ------------------------------------------------------------ */


@media (max-width: 900px) {

    .iconeAndText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        margin: 30px 0;
        padding: 20px;
    }

    .iconeAndText img {
        margin: 0 0 15px 0;
    }

}

/* ------------------------------------------------------------ Dashboard Pro et prestaions      ------------------------------------------------------------ */

@media (max-width: 950px) {

    .allDevisContainer,
    .AllPrestationsContainer {
        flex-direction: column;
    }

    .prestationContainer,
    .devisContainer {
        width: 100%;
        height: fit-content;
    }

    .updateForm {
        gap: 30px;
    }

    .updateForm label {
        margin-top: 15px;
    }

    .updateForm .prestationDescription {
        height: 50px;
    }
}

@media(max-width: 750px) {

    .evenementContainer {
        width: 90%;
    }

    .evenementContainer p {
        padding: 10px;
        margin: 0;
    }

    .devisContainer {
        height: 500px;
        width: 100%;
    }

    .AllPrestationsContainer {
        width: 95%;
    }

    .formSignIn {
        width: 95%;
    }

    .prestationContainer textarea {
        height: 150px;
    }

}

@media(max-width:500px) {
    .flex {
        flex-direction: column;
    }

    .allDevisContainer {
        width: 97%;
        padding: 0;
    }

    .evenementContainer {
        min-height: 450px;
    }
}


/* ------------------------------------------------------------ Planning      ------------------------------------------------------------ */

@media(max-width: 530px) {
    .fc .fc-toolbar.fc-header-toolbar {
        display: none;
    }

}

@media(max-width: 700px) {
    #calendar {
        width: 95%;
        margin: auto;
    }
}

/* ------------------------------------------------------------ Page invité      ------------------------------------------------------------ */
@media(max-width: 1080px) {
    .updateInvite .form {
        padding: 0;
    }

}

@media(max-witdh: 1029px) {
    .updateInvite .inputRow {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .form-evenement__form{
        flex-direction: column;
        width: 95%;
    }

   


}


@media(max-width: 950px) {
    .addInviteForm {
        width: 95%;
        margin: auto;
        height: 400px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    .inputRow {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        width: 100%;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .updateInvite form,
    .updateInvite form #nom,
    .updateInvite form #prenom,
    .updateInvite form #email,
    .updateInvite .inputRow,
    .updateInvite input{
        width: 100%;
    }
    .updateInvite .inputRow{
        gap: 5px;
    }
    .updateInvite form label{
        text-align: start;
    }
    .updateInvite form input{
        margin-bottom: 15px;
        text-align: start;
    }
    .u
    .addInviteForm input {
        width: 80%;
    }

    .selectEventDiv {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .evenementSelect {
        width: 80%;
    }


}

@media(max-width: 700px) {

    .evenementInvite,
    .evenementInvite {
        width: 95%;
    }

    #retour {
        margin-left: 2.5%;
    }
}

@media(max-width: 500px) {
    .selectEventForm h3 {
        font-size: 1.2em;
    }
    .addInviteForm input,
    .addInviteForm .selectEventDiv{
        width: 95%;
    }
}