{# confirmDelete Page #}

{% extends "../layouts/base.twig" %}
{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Convergence&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

{% endblock %}
{% block tile %}MyEvents- Mon Profil
{% endblock %}

{% block main %}
	<div>
		{% if errorMessage %}
			<p class='error'>{{ errorMessage }}</p>
		{% endif %}

		{% if successMessage %}
			<p class='message'>{{ successMessage }}</p>
		{% endif %}

	</div>

	<h1><img src="/assets/images/Titre-MyEvents.png" alt="titre principal MyEvents"></h1>


	<section class='mainSection'>
	

		<div class='formSignIn confirmDelete'>
			<p>Vous êtes sur le point de supprimer définitivement votre compte.</p>
			<form action="/deleteUser/{{utilisateur.id}}" method='POST'>
				<p>Veuillez confirmer votre choix</p>
				<a class='btn' href="{{ utilisateur.isEntreprise ? '/profilPros' : '/profil' }}">Annuler</a>
                

				<button class='delete'>Supprimer</button>
			</form>
		</div>


		<section>
		{% endblock %}
