{# confirm refus devis  #}

{% extends "../layouts/base.twig" %}
{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Convergence&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

{% endblock %}
{% block tile %}MyEvents- Mon Profil
{% endblock %}

{% block main %}

	<h1><img src="/assets/images/Titre-MyEvents.png" alt="titre principal MyEvents"></h1>


	<section class='mainSection'>
		{% if errorMessage %}
			<p class="error message">{{ errorMessage }}</p>
		{% endif %}

		{% if successMessage %}
			<p class="message">{{ successMessage }}</p>
		{% endif %}


		<div class='confirmDecline formSignIn'>
			<p>Vous êtes sur le point de refuser le Devis N°{{devis.id}}, veuillez en informer le client :</p>
			<form action="/decline/{{devis.id}}" method="post">
				<label for="declineMsg">Motif du refus</label>
				<textarea name="declineMsg" id="declineMsg" placeholder='Par ex: Indisponible à ces dates'></textarea>
				<div class='flex'>
					<button class='delete'>Confirmer</button>
					<a class='btn' href="/dashboardPros">Annuler</a>
				</div>
			</form>
		</div>

	</section>


{% endblock %}
