{# main Page #}

{% extends "../layouts/base.twig" %}
{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Convergence&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Italianno&family=League+Script&display=swap" rel="stylesheet">

{% endblock %}
{% block tile %}MyEvents- Accueil
{% endblock %}


{% block main %}
	<div>
		{% if errorMessage %}
			<p class='error'>{{ errorMessage }}</p>
		{% endif %}

		{% if successMessage %}
			<p class='message'>{{ successMessage }}</p>
		{% endif %}

	</div>

	<h1><img src="/assets/images/Titre-MyEvents.png" alt="titre principal MyEvents"></h1>

	<h2>Bienvenue sur votre assistant de gestion d'événements personnalisé</h2>

	<section class="mainSection">
		<h3>Planifier un événement n'a jamais été aussi simple !</h3>


		<div class="form-evenement">
			<form action="/login" method="get" class="form-evenement__form">
				<select id="typeEvenement" name="typeEvenement" class="form-evenement__select">
					<option value="babyShower">Baby Shower</option>
					<option value="genderReveal">Gender Reveal</option>
					<option value="mariage">Mariage</option>
					<option value="feteReligieuse">Fête religieuse</option>
					<option value="anniversaire">Anniversaire</option>
					<option value="bapteme">Baptême</option>
					<option value="autre">Autre</option>
				</select>

				<select id="prestation" name="prestation" class="form-evenement__select">
					<option value="photographeVideaste">Photographe/Vidéaste</option>
					<option value="traiteur">Traiteur</option>
					<option value="dj">DJ</option>
					<option value="decorateur">Décorateur</option>
					<option value="animateur">Animateur</option>
					<option value="locationMateriel">Location de matériel</option>
					<option value="locationSalle">Location de salle/Lieu de réception</option>
					<option value="fleuriste">Fleuriste</option>
					<option value="stylistes">Styliste/Costumier</option>
					<option value="graphiste">Graphiste/Impression de supports</option>
					<option value="autre">Autre</option>
				</select>

				<input type="text" id="ville" name="ville" placeholder="Votre Ville" class="form-evenement__input">

				<div class="form-button">
					<button type="submit">Rechercher</button>
				</div>
			</form>
		</div>


		<div class="iconeContainer">
			<div>
				<img src="/assets/images/search.png" alt="icone de loupe pour imager la recherche de prestataire">
				<p>TROUVER LE BON PRESTATAIRE</p>
			</div>
			<div>
				<img src="/assets/images/facture.png" alt="icone de plusieurs documents avec le symbole euro pour imager la comparaison des devis">
				<p>COMPARER LES DEVIS</p>
			</div>
			<div>
				<img src="/assets/images/liste.png" alt="icone de document avec une liste">
				<p>GÉRER VOS INVITÉ</p>
			</div>
			<div>
				<img src="/assets/images/agenda.png" alt="icone de calendrier">
				<p>GÉRER VOTRE AGENDA</p>
			</div>
		</div>

		<div class='textContainer'>
			<div>
				{# <img src="/assets/images/Titre-MyEvents.png" alt="titre principal MyEvents"> #}
				<p>
					<span class='firstFont'>My</span>
					<span class='secondFont'>E</span>
					<span class='firstFont'>vents</span>
					est une plateforme tout-en-un qui met en relation les particuliers et les professionnels de l'événementiel pour organiser des mariages, fêtes, conférences, et bien plus encore.
				</p>

			</div>
			<div>
				<p>
					Que vous soyez à la recherche du
					<strong>prestataire idéal</strong>
					ou que vous souhaitiez gérer vos
					<strong>listes d'invités</strong>
					et
					<strong>plannings</strong>

				</p>
			</div>
			<div>
				{# <img src="/assets/images/Titre-MyEvents.png" alt="titre principal MyEvents"> #}

				<p>
					<span class='firstFont'>My</span>
					<span class='secondFont'>E</span>
					<span class='firstFont'>vents</span>
					vous offre les outils nécessaires pour créer
					<strong class='underline'>des événements mémorables en toute sérénité</strong>.
				</p>


			</div>

		</div>

	</section>

{% endblock %}
