{# sign In  #}

{% extends "../layouts/base.twig" %}

{% set noHeader = true %}
{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Convergence&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

{% endblock %}
{% block tile %}MyEvents - Réinitialiser votre mot de passe
{% endblock %}

{% block main %}

	<h1><img src="/assets/images/Titre-MyEvents.png" alt="titre principal MyEvents"></h1>

	<section class='mainSection'>
		<h2>Réinitialiser votre mot de passe</h2>


		<div class='formSignIn'>
			<form action="/resetPassword/{{utilisateur.resetToken}}" method='POST'>
				<div class="form-group">
					<label for="password">Mot de passe</label>
					<input id='password' type="password" name="password">
					{% if error %}
						<p class='error'>{{ error.password }}</p>
					{% endif %}
				</div>

				<div class="form-group">
					<label for="confirmPassword">Confirmez votre mot de passe</label>
					<input id='confirmPassword' type="password" name="confirmPassword">
				</div>

				{% if error %}
					<p class='error'>{{ error }}</p>
				{% endif %}

		

				<div class='form-group'>
					<button type="submit">Enregistrer</button>
				</div>
			</form>
		</div>

	</section>

{% endblock %}
